section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.order {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: #FFF;
  overflow: auto;
}

.ingredient-list {
  list-style-type: none;
  padding: 0;
  width: 150px;
}
