.buttons-ctr {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 10px;
  grid-gap: 2em;
  align-items: center;
}

input {
  width: 40%;
  padding-right: -10px;
  height: 20px;
  align-self: center;
}

.input-btns-ctr {
  display: flex;
  padding: 20px;
}

.buttons-ctr > button {
  background: none;
  border: 1px solid black;
  padding: 5%;
  transition: .2s ease all;
  cursor: pointer;
}

.buttons-ctr > button:hover {
  background: rgba(0,0,0,0.85);
  color: white;
}

@media screen and (max-width: 750px) {
  .input-btns-ctr {
    flex-direction: column;
    align-items: center;
  }
}
